---
layout: default
---

<div class="row" style="margin: 2%;"></div>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">DevBlog {{page.title}}</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">{{page.title}}</li>
    </ol>    

    {% for post in paginator.posts %}
    <div class="card mb-4 post-card">
        <div class="card-body">
          <div class="row">
            {% if post.imagem %}
            <div class="col-lg-6">
              <a href="{{post.url | absolute_url}}">
                <img class="img-fluid" src="{{post.imagem}}" alt="">
              </a>
            </div>
            {% endif %}
            <div class=" {% if post.imagem %} col-lg-6 {% else %} col-lg-12 {% endif %}">
              <h2 class="card-title">{{post.title}}</h2>
              <p class="card-text">
                {{post.excerpt}}
              </p>
              <a href="{{post.url | absolute_url}}">Read More &rarr;</a>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          Posted on {{post.date}} by
          <a href="{{post.author[0].link}}">{{post.author[0].nome}}</a>
        </div>
      </div>
    {% endfor %}      

    <!-- Pagination -->
    {%- include pagination.html -%}        

</div>