---
layout: default
---

<div class="row" style="margin: 2%;"></div>

<div class="row" style="margin: 2%;"></div>

    <!-- Page Content -->
    <div class="container">

            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">Pippin Labs Project              
            </h1>
      
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active">Pippin Labs</li>
            </ol>

            <div class="row">
              {% for post in paginator.posts %}
                <div class="col-lg-6 portfolio-item">
                  <div class="card h-100 post-card">
                    {% if post.thumbnail %}
                      <a href="{{post.url | absolute_url}}"><img class="card-img-top" src="{{post.thumbnail}}" alt=""></a>
                    {% endif %}                    
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="{{post.url | absolute_url}}">{{post.title}}</a>
                      </h4>
                      <p class="card-text">{{post.excerpt}}</p>
                    </div>
                    <div class="card-footer text-muted">
                      Posted on {{post.date}} by
                      <a href="{{post.author[0].link}}">{{post.author[0].nome}}</a>
                    </div>
                  </div>
                </div>                
              {% endfor %}              
            </div>
            <!-- /.row -->
      
            <!-- Pagination -->
            {%- include pagination.html -%}
      
    </div>
    <!-- /.container -->