<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="m-0 text-center text-white">&copy; Pippin Games. All Rights Reserved.</p>              
      </div> 
      <div class="col-md-6">            
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>                               
    </div>
  </div>
  <!-- /.container -->
</footer>

<!-- Scripts do Modelo -->  

<!-- scripts do modelo dopresskit -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.js"></script>		
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.min.js"></script>
<script type="text/javascript">
  $( document ).ready(function() {
   	var container = $('.images');
       
     	container.imagesLoaded( function() {
   		container.masonry({
   			itemSelector: '.uk-width-medium-1-2',
          });
      });
  });
</script>

<!-- Bootstrap core JavaScript -->

<script src="{{ "/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" | relative_url }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/assets/vendor/jquery-easing/jquery.easing.min.js" | relative_url }}"></script>

<!-- Contact form JavaScript -->
<script src="{{ "/assets/js/jqBootstrapValidation.js" | relative_url }}"></script>
<script src="{{ "/assets/js/contact_me.js" | relative_url }}"></script>

<!-- Custom scripts for this template -->
<script src="{{ "/assets/js/agency.min.js" | relative_url }}"></script>
